* {
    box-sizing: border-box;
}

html {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
    color: white;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
}

header {
    margin: 20px;
    text-align: center;
    font-size: 3rem;
    color: white;
}

#playerSelection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#playerSelection * {
    margin: 5px;
}

#optionMenu {
    font-family: 'Press Start 2P', cursive;
    font-size: 1em;
}
#boardContainer {
    margin: 30px;
    padding: 20px;
    box-sizing: border-box;
    border: 5px solid cyan;
    border-radius: 15px;
}

.board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 360px;
    width: 360px;
}

.cell {
    display: flex;
    flex: 0 0 120px;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.cell:nth-child(3n+2) {
    border-left: 3px solid white;
    border-right: 3px solid white;
}

.cell:nth-child(n+4) {
    border-top: 3px solid white;
}